@charset "utf-8";
/* CSS Document */
/* some custom fonts via google font api */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight);


#mcs_container{position:relative;  float:left; top:0px; width:220px; height:480px}
#mcs_container .customScrollBox{position:relative; height:90%; overflow:hidden;}
#mcs_container .customScrollBox .container{position:relative; width:200px; top:0; float:left;}
#mcs_container .customScrollBox .content{clear:both;}
#mcs_container .customScrollBox .content p{}
#mcs_container .customScrollBox .content p.alt{}
#mcs_container .customScrollBox img{}
#mcs_container .dragger_container{position:relative; width:2px; height:430px; float:left; margin:0px 0 0 20px; background:gainsboro; cursor:pointer -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; cursor:s-resize;}
#mcs_container .dragger{position:absolute; width:2px; height:60px; background:DimGray; text-align:center; line-height:60px; color:#666; overflow:hidden; cursor:pointer; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#mcs_container .dragger_pressed{position:absolute; width:4px; margin-left:-1px; height:60px; background:black; text-align:center; line-height:60px; color:#666; overflow:hidden; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:s-resize;}
#mcs_container .scrollUpBtn,#mcs_container .scrollDownBtn{position:absolute; display:inline-block; width:14px; height:15px; margin-right:12px; text-decoration:none; right:0; filter:alpha(opacity=20); -moz-opacity:0.20; -khtml-opacity:0.20; opacity:0.20;}
#mcs_container .scrollUpBtn{top:16px; background:url(mcs_btnUp.png) center center no-repeat;}
#mcs_container .scrollDownBtn{bottom:12px; background:url(mcs_btnDown.png) center center no-repeat;}
#mcs_container .scrollUpBtn:hover,#mcs_container .scrollDownBtn:hover{filter:alpha(opacity=60); -moz-opacity:0.60; -khtml-opacity:0.60; opacity:0.60;}

#mcs1_container{position:relative;  float:left; top:0px; width:750px; height:435px}
#mcs1_container .customScrollBox{position:relative; height:90%; overflow:hidden;}
#mcs1_container .customScrollBox .container{position:relative; width:732px; top:0; float:left;}
#mcs1_container .customScrollBox .content{clear:both;}
#mcs1_container .customScrollBox .content p{padding:0 5px; margin:10px 0; line-height:20px;}
#mcs1_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; line-height:19px; color:#999;}
#mcs1_container .customScrollBox img{border:5px solid #fff;}
#mcs1_container .dragger_container{position:relative; width:2px; height:430px; float:left; margin:40px 0 0 10px; background:gainsboro; cursor:pointer -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; cursor:s-resize;}
#mcs1_container .dragger{position:absolute; width:2px; height:60px; background:DimGray; text-align:center; line-height:60px; color:black; overflow:hidden; cursor:pointer; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#mcs1_container .dragger_pressed{position:absolute; width:4px; margin-left:-1px; height:60px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:s-resize;}
#mcs1_container .scrollUpBtn,#mcs_container .scrollDownBtn{position:absolute; display:inline-block; width:14px; height:15px; margin-right:0px; text-decoration:none; right:0; filter:alpha(opacity=20); -moz-opacity:0.20; -khtml-opacity:0.20; opacity:0.20;}
#mcs1_container .scrollUpBtn{top:16px; background:url(mcs_btnUp.png) center center no-repeat;}
#mcs1_container .scrollDownBtn{bottom:12px; background:url(mcs_btnDown.png) center center no-repeat;}
#mcs1_container .scrollUpBtn:hover,#mcs_container .scrollDownBtn:hover{filter:alpha(opacity=60); -moz-opacity:0.60; -khtml-opacity:0.60; opacity:0.60;}