<style>
.footer-box
{
	width:32%;
	float:left;
	font-size:80%;
	padding-left:10px;
	border-left:1px solid #e9e9e9;
}
.first
{
	border-left:none;
	padding: 0px
}
</style>
<div class="footer-box first">
Masparti<br />
tel./fax.: (+420) 585 315 964<br />
Mahlerova 15,
779 00, Olomouc
</div>
<div class="footer-box">
ing. arch. Pavel Martinka<br />
tel.: (+420) 775 914 146<br />
email: pavelmartinka (at) gmail.com
</div>
<div class="footer-box" >
Ondřej Spusta (Archit.)<br />
tel.: (+420) 732 480 672<br />
email: spusta (at) gmail.com
</div>

