@font-face {
    font-family: 'CenturyGothic';
    src: url('../font/gothic/gothic.eot');
    src: url('../font/gothic/gothic.eot?#iefix') format('embedded-opentype'),
         url('../font/gothic/gothic.woff') format('woff'),
         url('../font/gothic/gothic.ttf') format('truetype'),
         url('../font/gothic/gothic.svg#gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #231f20;
    color: #fff;
	font-size: 13px;
	font-family: Century Gothic, 'CenturyGothic', 'Open Sans', sans-serif;

}
a,a:visited {
	color: #fff;
	text-decoration: none;
}

h1 
{
	color: #fff;
}
h3 {
	margin: 0px 0px 4px 0px;
}
h2 {
	font-weight: normal;
}
#contentMain p 
{
	text-align: justify;
}
#contentMain h4 {
	margin: 0px 0px 35px 0em;
    vertical-align: top;
}
.red {
	color: red;
}
div.detail {
	margin-bottom: 0.8em;
}


.topleft {
	height: 5em;
	line-height: 1em;
	padding-top: 2em;
}
.topright h1  {
	margin: 0.5em 0em 0em 0em;
}

#contentMain {
	height: 480px;
}
/*MENU*/

.menu {
	height: 480px;
}
.absolutebottom
 {
    position: absolute;
	left: 0;
	width: 100%;
	bottom: 100px;
}

.menuDown{

	margin-right: 1em;
}


.list li{
	margin-bottom: 0.8em;

}
.ab  a.selected:hover
{
}

.ab  a.selected{
	color: red;
}
.abc .selected  .opacityrollover
{
	opacity: 1 !important;
}

.abc .selected .wrap{
	border: 1px solid red;
	height: 67px;
	overflow: hidden;
}
.abc .wrap{
	background-color: #3c3c3b;
	height: 68px;
	border: 1px solid #3c3c3b;
}
.redback .wrap {
	background-color: red;
}



.left {
	border-right: 1px solid red;
	text-align: right;
	padding-right: 1em;
}
.right {
	padding-left: 1em;
}

h1 {
	font-size: 24px;
	font-weight:  300;
}
a:hover {
	color:  red;
}



/*thumbslist*/
.thumbswrap{
	margin-top: -150px;
}
.thumbswrap .naviright{
	text-align: right;
}
.thumslist {
	overflow: hidden;
	padding-left: 4.8em;
	padding-left: 0em;
	position: relative;
}
.thumbsitem{
	height: 70px;
	width: 70px;
	float:left;
	margin-left: 16px;

}
.thumbsitem:first-child{
	margin-left: 0px;
	margin-right: 0.1em;
}
.thumbsitem:last-child{
	float: right;
}
.nah
{
	overflow: hidden;
}


/*galerie*/
.nahledbig, .nahled
{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Ncu3ZtfXBwcCMDFDDCGBgCMJUYKgBZLQgF9OtfogAAAABJRU5ErkJggg==);
}
.nahled
{
	height:94px;
}
.nahledbig
{
	height:200px;
	margin: 0px 0px 0.8em 1em;
	overflow: hidden;

}
.nahled {
	overflow: hidden;
}
.nahled.top {
	margin: 0px 0px 1em 1em;
}
.nahled.bottom {
	margin: 0px 0px 0.8em 1em;
	
}
.mainthumbs {
}
/*------*/
	.logodole{
	border-right: 1px solid red;
	text-align: right;
}
.logodole img{
	margin-right: -77px;
}

.iso h2 {
	font-size: 18px;
}


