<style>
.image-wrapper {
   position: relative;
   width: 100%; /* for IE 6 */
   display:block;
}

.image-wrapper h2 {
   position: absolute;
   bottom: 10px;
   left: 0;
   color:White;
   margin:0px;
   
}

	
.image-wrapper h2 span {
   color: white;
   background: black;
	font: bold 17px/24px Helvetica, Sans-Serif;
	padding: 6px;
}
</style>

<div id="gallery" class="content">
	
	<div class="slideshow-container">
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	</div>
</div>
