<style>
	.boxi {
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #e9e9e9;
		-webkit-transform: translate3d(140px, 124px, 0px);
		-webkit-transition-duration: 0.8s;
	}

	.container {
		margin: 0px auto;
		position: relative;
		width: 900px;
	}

</style>

<div class="container">
	<!--<div ng-repeat="item in galleryList.galleriesArray">-->
	<div ng-repeat="item in galleryThumbs">
		<a href="#/gallery/{{item.galleryId}}">

			<img class="boxi" src="{{item.thumb()}}"
				 style="-webkit-transform: translate3d({{item.position.x1}}px, {{item.position.y1}}px, 0px)"
				 width="{{item.width}}"
				 height="{{item.height}}"/>
		</a>
	</div>

</div>


