<style>
	.boxi {
		position: absolute;
		left: 0px;
		top: 0px;
		border: 1px solid #888888;
		background-color: #e9e9e9;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		transition-duration: 800ms;
	}
	
	.container {
		margin: 0px auto;
		position: relative;
	}

</style>

<style>
	.ccc {
		display: inline-block;
		border: 1px solid #2277DD;
	}
</style>

<div class="container">
	<div ng-repeat="item in galleryThumbs">
		<div ngc-gallery-item="item" class="boxi" ng-click="showGallery(item, $index)">
			<img ngc-lazy-image="item.getSmall()" ng-hide="item.chuj" src="loader.jpg" width="100%"/>

			<div ng-show="item.chuj">
				<h1>{{galleryList.get(item.galleryId).locales.text}}</h1>

				<div class="ccc" ng-repeat="im in galleryList.get(item.galleryId).images">
					<img ngc-lazy-image="im.thumb()" src="loader.jpg" />
				</div>

			</div>
		</div>
	</div>
</div>


