<!DOCTYPE html>

<html lang="cs" ng-app="masparti">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>masparti</title>

	<script type="text/javascript" src="Scripts/JSLINQ.js"></script>
	<script type="text/javascript" src="Scripts/jquery.js"></script>
	<script type="text/javascript" src="Scripts/angular.js"></script>
	<script type="text/javascript" src="Scripts/angular-ui.js"></script>
	<script type="text/javascript" src="Scripts/angular-resource.js"></script>

	<script type="text/javascript" src="Scripts/module.masparti.js"></script>
	<script type="text/javascript" src="Scripts/module.apiModule.js"></script>
	<script type="text/javascript" src="Scripts/module.appConfig.js"></script>

	<script type="text/javascript" src="Scripts/class.locales.js"></script>
	<script type="text/javascript" src="Scripts/class.Gallery.js"></script>
	<script type="text/javascript" src="Scripts/class.GalleryImage.js"></script>
	<script type="text/javascript" src="Scripts/class.galleryList.js"></script>
	<script type="text/javascript" src="Scripts/class.MenuItem.js"></script>
	<script type="text/javascript" src="Scripts/class.menuItemList.js"></script>
	<script type="text/javascript" src="Scripts/class.rawDataConverter.js"></script>
	<script type="text/javascript" src="Scripts/class.apiWrapper.js"></script>
	<script type="text/javascript" src="Scripts/class.usages.js"></script>
	<script type="text/javascript" src="Scripts/class.maspartiData.js"></script>

	<script type="text/javascript" src="Scripts/controller.home.js"></script>
	<script type="text/javascript" src="Scripts/controller.gallery.js"></script>
	<script type="text/javascript" src="Scripts/controller.x.js"></script>
	<script type="text/javascript" src="Scripts/controller.galleryImage.js"></script>

	<link rel="stylesheet" href="css/fluid_grid.css"/>
	<link rel="stylesheet" href="css/masparti.css"/>
	<link rel="stylesheet" href="css/masparti-responsive.css"/>
	<link rel="stylesheet" href="css/angular-ui.css"/>

</head>
<body>

<style>
	.boxi {
		position: absolute;
		left: 0px;
		top: 0px;
		border: 1px solid #888888;
		background-color: #e9e9e9;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		transition-duration: 800ms;
	}

	.container {
		margin: 0px auto;
		position: relative;
		top:100px;
	}

</style>

<style>
	.ccc {
		display: inline-block;
		border: 2px solid #2277DD;
	}
</style>


<!--<div class="container" ng-controller="homeController">-->
	<!--<div ng-repeat="item in galleryThumbs">-->
		<!--<div ngc-gallery-item="item" class="boxi" ng-click="showGallery(item, $index)">-->
			<!--<img ng-hide="item.chuj" src="{{item.thumb()}}" width="100%" height="100%"/>-->

			<!--<div ng-show="item.chuj">-->
				<!--<h1>{{galleryList.get(item.galleryId).locales.text}}</h1>-->

				<!--<div class="ccc" ng-repeat="im in galleryList.get(item.galleryId).images">-->
					<!--<img src="{{im.thumb()}}"/>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->


<div ng-view></div>

<script>
	$(document).ready(function () {

	})
</script>


</body>



</html>

