h1 {
		font-family: 'GillSansCELight';
		font-size: 1.9em;
		margin-bottom: 0.5em;
		color: #fff;
	
		font-weight: 500;
		

	}
	h2 {
		font-family: 'GillSansCELight';
		color: #3D4363;
		margin-left: 1em;
	}
	
	
	.content h1 {
		background-color: #999BA8;
		text-align: right;
		line-height: 1.5em;
		font-size: 3em;
		padding-right: 0.5em;
		margin: 0px;
	}	

	body {
		background-image: url(../images/back.png);
		font-family: 'GillSansCERegular';
		font-size: 1em;
		line-height: 1.1em;
		background-color: #fff;
		color: #4e5370;
		font-weight: 500;
		margin: 0px;
	}
	
	a 	
	{
		color: #fff;			
	   	text-decoration: none;		
    }
	a:hover 
	{
	    color: #fe4902;
    }
	a.current {
		font-weight: 800;
	}

	.header  {
		background: url(../images/head2.png) no-repeat #BEBFC3 right;
		height: 94px;
	}
	.headerB {
		background-color: #BEBFC3;
		height: 94px;
	}
	.headerB h1 {
		margin: 2em 0em 1em 0em;
	}
	.header img {
		float: left;
	}
.kontakt {
	display: block;
	float: right;
	background-color: #3D4363;
	height: 30px;
	line-height: 30px;
	top: 64px;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
	background: url('../images/kon.png') no-repeat left   ;
	padding-left: 30px;
}
	
	.mainleft,.rightb {
		border-right: 1px solid #fff;
	}
	.bottomb 
	{
		border-bottom: 1px solid #fff;
	}
	.leftb {
		border-left: 1px solid #fff;
	}
	.nav.fst {
		border: none;
	}
	
	.content.main {
		height: 369px;
	}
	.content.main .data
	{
		padding-top: 1.5em;
	}
	.content.bottom .data
	{
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.content.main{
		background: url(../images/bgmain.png) repeat-x #BEBFC3 bottom;
	}
	.content.bottom{
		background: url(../images/bgmainbottom.png) repeat-x #BEBFC3 bottom;
	}

	.navigation .nav {

		text-align: center;
		line-height: 2em;
		height: 2em;

	}
	.navigation .nav a:hover 
	{
		color: #fff;
	}
	/*navi*/
.ab .selected{
	color: red;
}
.a .selected{
}

	.navigation .nav a,.navigation .nav .disabled
	{
		font-size: 130%;
		
	}
	
	.navigation {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
			
	.spacer {
		height: 1px;
		background-color: #3D4363;
	}
	.headerspacer {
		height: 2em;
		background-color: #3D4363;
		border-bottom: 1px solid #fff;
		
	}
	.footer {
		background-color: #BEBFC3;
		text-align: center;
		line-height: 2.5em;
			
	}
.footer a {
		color: #4e5370;
}
ul {
	list-style-position:inside;
	padding-left: 1.5em;
	margin: 0px;
}

li {
	margin: 0px 0px 1em 0px;
}			
	
.content.bottom li {
	margin: 0px 0px 1em 1em;
}
		
		
.container_12 {
	background-color: #3D4363;
}
.disabled {
	color: silver;
}
.data p {
	margin: 0em 0em 1em 1em;
	padding: 0px; 
}
		
.content_pecuje {
display: block;
}

/*INTRO*/

.introbox h1 {
	font-size: 2em;
	color: #3D4363;
	background-color: #BEBFC3;
	background: rgba(190, 191, 195, 0.8);
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	position: relative;
	text-shadow:  0px 1px 2px #3D4363
}

.introboxcontent  li {
margin: 1em 1em 2em 0em;
}
.introboxcontent .novinka{
position: relative;
	
}
.introboxcontent 
{
overflow: hidden;
width: 60%;
float: right;
background-color: #BEBFC3;
background: rgba(190, 191, 195, 0.7);
margin: 4em 0em 0em 0em;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;

	
}
.introbox {
position: absolute;
top: 0px;
z-index: 1000;
width: 100%;
}

.introboxcontent p {
	margin: 1em;
	text-align: justify;	
}


	/* override single pane */
	.content.main 
	{
		position: relative;
		overflow: hidden;
		clear: both;
		height: 369px;
	}
	.content.main .xxx {
		float:left;
		display:block;
		width:901px;
	}

/* our additional wrapper element for the items */
	.content.main .items {
		width:20000em;
		position:absolute;
		margin:0;
		padding:0;
	}
		
	.galnavi {
	position: absolute;
	top: 45%;
	background-color: red;
	cursor: pointer;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 55px;
	-moz-border-radius: 55px;
	border: 1px solid #EEE;
	opacity: 0.3;
	border-image: initial;
}
.galnavi.galprev
{
	background: url(../images/icon/left.png) no-repeat #fff center;
	left: 2px;
}
.galnavi.galnext
{
	background: url(../images/icon/right.png) no-repeat #fff center;
	left: 855px;
}
	
.scrollxxx .items {
	width: 20000em;
	position: absolute;
	clear: both;
}

.scrollxxx {
	position: relative;
	float: left;
	overflow: hidden;
	width: 900px;
	height: 200px;
	background-color: #4e5370;
	
}
.scrollxxx .items img
{
	margin-right: 1px;
	float: left;
}

/*NOVINKY*/
.navi {
	position: absolute;
	width: 75px;
	top: 0em;
	

}
.navi a {
	display: block;
	float: left;
	height: 24px;
	width: 23px;
	font-size: 0.5em;
		
}
.h1kolca,.h2kolca{
	height: 32px;
	display: inline-block;
	vertical-align: top;
	line-height: 0.5em;
}
.h1kolca {
	background: url(../images/logosmallwhite.png) no-repeat;
	height: 32px;
	width: 100px;
	margin-top: 0.4em;
}
.h2kolca {
	background: url(../images/logokolecko24.png) no-repeat ;
	background-position: 0px 0px;
	
	height: 24px;
	width: 75px;
	margin-top: 0.4em;
}

/*CONTENTMAIN*/

.content_novinky .more {
	display: none;
}
.content_novinky h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.content_novinky p {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 20px;
	margin-right: 0px;
	text-align: justify;
}


/*content_novinky_list*/

.content_novinky_list {
	padding-bottom: 0.1em;	
	padding-top: 0.1em;	
}

.content_novinky_list h2
{
	margin-left: 20px;
	line-height: 1.2em;
	margin-bottom: 0px;
}
.content_novinky_list p {
	margin: 1em;
	margin-left: 20px;
}
.content_novinky_list .more {
	display: block;
	font-weight: bold;
}
.content_novinky_list:hover {
	background: rgba(190, 191, 195, 0.3);

}

